In [2]:
a = True
if a:
    print("True")
else:
    print("False")

True

In [3]:
a = True
if a:
    print("True")
    print("True End ...")
else:
    print("False")
print('End...')

True
True End ...
End...

In [179]:
print('더하기', 2+4)
print('빼기', 4-2)
print('곱하기', 2*4)
print('나누기', 4/2)
print('제곱', 4 ** 2)
print('몫', 7/2)
print('정수몫', 7//2)
print('나머지', 7%2)

더하기 6
빼기 2
곱하기 8
나누기 2.0
제곱 16
몫 3.5
정수몫 3
나머지 1

In [5]:
# 파이썬 주석문
'''
파이썬 주석문
'''

'\n파이썬 주석문\n'

### 파이썬 표준출력

In [6]:
print('Hello Python World')

Hello Python World

In [7]:
print('a', 1)

a 1

In [8]:
print('a', 1, sep=':')

a:1

## Python 변수

In [11]:
a=10
b=5

In [12]:
print(a,b)

10 5

In [13]:
한글변수=10

In [14]:
한글변수

10

In [15]:
a=b=10

In [16]:
a

10

In [17]:
b

10

## Python 동적 타입 & 개체

### 파이썬 동적 타입

In [21]:
price = 1000
rate = 0.05
num_years = 5

In [22]:
type(rate)

float

In [23]:
type(price)

int

In [25]:
price = price*(1+rate)
price

1050.0

In [26]:
price

1050.0

## Python 문자열

### 파이썬 문자열

In [27]:
a = '파이썬'

In [28]:
a

'파이썬'

In [29]:

b = '문자열'

In [30]:
c = """
죽는 날까지 하늘을 우러러
한 점 부끄럼 없기를
잎새에 이는 바람에도
나는 괴로워 했다
"""

In [31]:
c

'\n죽는 날까지 하늘을 우러러\n한 점 부끄럼 없기를\n잎새에 이는 바람에도\n나는 괴로워 했다\n'

In [32]:
'파이썬'+3

TypeError: can only concatenate str (not "int") to str

In [33]:
d = '파이썬'+str(3)

In [35]:
d

'파이썬3'

In [36]:
e = '*'*10

In [37]:
e

'**********'

## Python 문자열 포맷팅

In [38]:
name, age, phone = '홍길동', 25, '010-111-2222'

In [39]:
소개 = '이름은 {}이고, 나이는 {}세이며, 전화번호는 {}입니다.'.format(name, age, phone)

In [40]:
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222입니다.'

In [41]:
소개 = '이름은 {0}이고, 나이는 {2}세이며, 전화번호는 {1}입니다.'.format(name, phone, age)

In [42]:
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222입니다.'

In [43]:
소개 = '이름은 {a}이고, 나이는 {b}세이며, 전화번호는 {c}입니다.'.format(c=phone, a=name, b=age)

In [44]:
소개

'이름은 홍길동이고, 나이는 25세이며, 전화번호는 010-111-2222입니다.'

In [47]:
jan, dec = 1, 12
print("한 해의 시작은 {:02d}월".format(jan))
print("한 해의 마지막은 {:02d}월".format(dec))

한 해의 시작은 01월
한 해의 마지막은 12월

In [48]:
val = 123456789
money = "{:,}"
money.format(val)

'123,456,789'

In [49]:
'{} {:f} {:.1f} {:.2f} {:.2%}'.format(3, 3, 3, 3.1475, 1/3)

'3 3.000000 3.0 3.15 33.33%'

## Python 문자열 indexing & slicing

In [50]:
a = 'HelloWorld!'

In [51]:
a[0]

'H'

In [52]:
a[5]

'W'

In [53]:
a[-1]

'!'

In [54]:
a[-2]

'd'

In [55]:
a[:5]

'Hello'

In [56]:
a[5:]

'World!'

In [57]:
b = '1-2-3-4-5'

In [58]:
b

'1-2-3-4-5'

In [59]:
b[0::2]

'12345'

In [60]:
b[::-1]

'5-4-3-2-1'

In [61]:
b[::-2]

'54321'

## Python 문자열 함수

In [62]:
'-'.join('HelloWorldPython')

'H-e-l-l-o-W-o-r-l-d-P-y-t-h-o-n'

In [63]:
'-'.join('12345')

'1-2-3-4-5'

In [64]:
'Hello-World-Python'.split('-')

['Hello', 'World', 'Python']

In [65]:
'서울시 마포구 상암동 1585'.split()

['서울시', '마포구', '상암동', '1585']

In [66]:
text = '\t 문자열 정리 \n'
text.strip()

'문자열 정리'

In [67]:
생일 = '2016/08/30'
생일.replace('/', '-')

'2016-08-30'

In [68]:
'Hello World Python'.startswith('Hello')

True

In [69]:
'Hello World Python'.startswith('Python')

False

In [70]:
'Python' in 'Hello World Python'

True

In [71]:
'Java' in 'Hello World Python'

False

In [73]:
text = 'Hello World Python'
text.count('o')

3

In [74]:
text = 'Hello World Python, Welcome to Python World'
text.count('Python')

2

In [89]:
text.index('o') # text.index('0', 5)

4

In [86]:
text.index('o', 5)

7

In [76]:
text.find('Python')

12

In [77]:
text.find('Python', 20)

31

In [78]:
'Hello World'.capitalize()

'Hello world'

In [79]:
'Hello World'.lower()

'hello world'

In [80]:
'Hello World'.upper()

'HELLO WORLD'

## Python 조건문

In [81]:
a = 3
b = 2

In [82]:
if a > b:
    print('TRUE')

TRUE

In [83]:
if a < b:
    print("Yes")
    print("a")
else:
    print("No")
    print("b")

No
b

In [84]:
suffix = "png"

if suffix == "htm":
    content = "text/html"
elif suffix == "jpg":
    content = "image/jpeg"
elif suffix == "png":
    content = "image/png"

print(content)

image/png

## Python 반복문

In [90]:
a = 0
while a < 5:
    print(a, '반복합니다.')
    a += 1

0 반복합니다.
1 반복합니다.
2 반복합니다.
3 반복합니다.
4 반복합니다.

In [92]:
for a in range(0, 5):
    print(a, '반복합니다.')

0 반복합니다.
1 반복합니다.
2 반복합니다.
3 반복합니다.
4 반복합니다.

In [93]:
list(range(0, 5))

[0, 1, 2, 3, 4]

In [94]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [95]:
list(range(0, 10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [96]:
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

In [97]:
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In [98]:
list(range(10, 0))

[]

In [99]:
list(range(10, 0, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [100]:
list(range(10, 0, 2))

[]

In [101]:
list(range(10, 0, -3))

[10, 7, 4, 1]

In [102]:
num = list(range(1, 11))

In [104]:
for i in num:
    print(i)

1
2
3
4
5
6
7
8
9
10

In [105]:
num = 3
for i in range(1, 10):
    answer = num *i
    print(f'{num} * {i} = {answer}')

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

## Python 함수

In [106]:
def add1():
    print("더하기 함수입니다.")

In [107]:
add1()

더하기 함수입니다.

In [108]:
def add2(x, y):
    print(x+y)

In [109]:
add2(1, 2)

3

In [111]:
def add3(x, y):
    return x+y

In [112]:
result = add3(1, 2)

In [113]:
result

3

In [114]:
def square(x, y):
    x = x**2
    y = y**2
    return x, y

In [115]:
a, b = square(2, 3)

In [116]:
print(a)
print(b)

4
9

## Python 자료구조 - List

In [118]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']

In [119]:
letters

['A', 'B', 'C', 'D', 'E', 'F']

In [120]:
letters[0]

'A'

In [121]:
letters[1]

'B'

In [122]:
letters[2]

'C'

In [123]:
letters[5]

'F'

In [124]:
letters.append('a')
letters

['A', 'B', 'C', 'D', 'E', 'F', 'a']

In [125]:
letters.count('a')

1

In [126]:
letters.insert(2, 'z')

In [127]:
letters

['A', 'B', 'z', 'C', 'D', 'E', 'F', 'a']

In [130]:
letters.pop(2)

'z'

In [131]:
letters

['A', 'B', 'C', 'D', 'E', 'F']

In [128]:
letters.remove('a')

In [129]:
letters

['A', 'B', 'z', 'C', 'D', 'E', 'F']

In [132]:
letters.sort(reverse=True)

In [133]:
letters

['F', 'E', 'D', 'C', 'B', 'A']

In [134]:
letters.sort()

In [135]:
letters

['A', 'B', 'C', 'D', 'E', 'F']

## Python 자료구조 - List indexing & slicing

In [136]:
letters = ['A', 'B', 'C', 'D', 'E', 'F']

In [137]:
letters[-1]

'F'

In [138]:
letters[-2]

'E'

In [139]:
letters[0:3]

['A', 'B', 'C']

In [141]:
letters[3:]

['D', 'E', 'F']

In [142]:
letters[:4]

['A', 'B', 'C', 'D']

In [143]:
letters[:]

['A', 'B', 'C', 'D', 'E', 'F']

In [145]:
letters[::2]

['A', 'C', 'E']

In [146]:
letters[::-1]

['F', 'E', 'D', 'C', 'B', 'A']

In [147]:
list(range(1, 11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [148]:
num10 = list(range(1, 11))

In [149]:
[x + 1 for x in num10]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [150]:
for x in num10:
    if x % 2 == 0:
        print(x)

2
4
6
8
10

In [151]:
[x for x in num10 if x%2 == 0]

[2, 4, 6, 8, 10]

## Python 자료구조 - Tuple

In [152]:
tuple1 = (1, 2, 3, )

In [153]:
tuple1

(1, 2, 3)

In [154]:
tuple1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [155]:
list1 = list(tuple1)
list1

[1, 2, 3]

In [156]:
list1.append(4)

In [157]:
list1

[1, 2, 3, 4]

In [162]:
tuple1 = tuple(list1)

In [163]:
tuple1

(1, 2, 3, 4)

## Python 자료구조 - Dictionary

In [164]:
중간고사 = {
    "수학": 100,
    "영어": 90,
}
중간고사

{'수학': 100, '영어': 90}

In [165]:
중간고사["국어"] = 85
중간고사

{'수학': 100, '영어': 90, '국어': 85}

In [166]:
중간고사['영어']

90

In [167]:
list(중간고사.keys())

['수학', '영어', '국어']

In [168]:
list(중간고사.values())

[100, 90, 85]

In [169]:
for 과목, 점수 in 중간고사.items():
    print('{} 과목점수는 {} 점'.format(과목, 점수))

수학 과목점수는 100 점
영어 과목점수는 90 점
국어 과목점수는 85 점

In [170]:
중간고사['영어'] = 95
중간고사

{'수학': 100, '영어': 95, '국어': 85}